*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #F2D7EE;
    color: #252422;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(16px, 10vw * 0.1vh, 36px);
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: clamp(8px, 2vh, 36px) clamp(16px, 2vw, 64px);
}

h1, h2, h3, h4, h5, h6 {
    color: #473198;
    font-weight: 900;
}

a {
    color: #252422;
    text-decoration: underline wavy #473198;
    transition: color 0.3s ease;
}

a:hover {
    color: #473198;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section {
    margin: 2rem 0;
}

section div {
    margin: .5rem 0;
}

label, input, select {
    font: inherit;
}

input, select {
    border: 0;
    outline: 0;
    background: #47319811;
    color: #252422;
    border-radius: 5px;
    box-sizing: content-box;
    width: 5ch;
    text-align: center;
}

#box {
    width: 50vmin;
    height: 50vmin;
    background: #473198;
}

